
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Index</h2>
<div>Welcome @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "") (Admin)</div>


